/*base*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.main-header {
    padding: 25px;
    background-color: #f0f0f0;
}
.name {
    padding: 0px;
    margin: 0px;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
li {
    padding: 0 20px;
    display: none;
}
#menu {
    display: block;
}
.banner {
    text-align: center;
    padding: 5em 0;
    background-color:lightblue;
}
.title {
    text-align: center;
}
.box {
    max-width: 1200px;
    margin: 0 auto;
}
.box > div {
    background-color: skyblue;
    margin: 12px auto;
    text-align: center;
    width: 95%;
    height: 150px;
}
.cta {
    width: 150px;
    margin: 25px auto;  
}
.button {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

/*flexbox*/
.main-header, .main-nav, .box {
	display: flex;
}	
.main-header {
	flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.box {
	flex-direction: column;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}

/*media queries*/
@media (min-width: 500px) {
	.box {
        flex-direction: row;
    }
    .box > div {
        width: 48%;
    }
}
@media (min-width: 800px) {
    li {
        display: block;
    }
    #menu {
        display: none;
    }    
}